.header {
    background-color: var(--clr-black);
    padding: 6px 24px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav__bar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 55px;
}

.nav__bar .nav__item {
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 0px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.nav__bar .nav__item.active__link::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--clr-yellow);
    left: 0;
    bottom: 0;
    animation: appear 0.2s linear;
}

@keyframes appear{
    from {
        width: 0;
    }
    to {
        width: 100%;
    }

}

.nav__bar .nav__item .nav__link {
    text-decoration: none;
    color: var(--clr-white);
}
